<ion-view>
  <ion-nav-title>
    {{ upgrade.name }}
  </ion-nav-title>
  <ion-nav-buttons side="right">
      <div class="buttons">
          <button class="button button-icon button-clear ion-compose" ng-click="modal.show()"></button>
      </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card tournament-card">
      <div class="item item-icon-left item-text-wrap" style="color: lightblue;">
        <i class="icon icon-accesory xwing-miniatures-font xwing-miniatures-font-{{ upgrade.type }}"></i>
        <i class="xwing-miniatures-font xwing-miniatures-font-unique" ng-show="upgrade.unique">&nbsp;</i>
        <span ng-bind="upgrade.name"></span>&nbsp;
        (<span ng-bind="upgrade.points"></span>)<br>
        <span ng-show="upgrade.limited">Limitado</span>
        <span ng-show="upgrade.faction">Sólo <i class="xwing-miniatures-font xwing-miniatures-font-{{ upgrade.faction }}"></i></span>
        <span ng-bind="upgrade.description"></span>
      </div>
    </div>
  </ion-content>
</ion-view>
