<ion-view view-title="Inicio">
    <ion-content class="">
        <ion-item class="item-divider item-icon-right" style="text-align: center;">
            <span class="title">Ultimo torneo</span>
        </ion-item>
        <ion-item>
            {{ message }}
            <br>Last tournament resume maybe
        </ion-item>
        <div class="row responsive-md statisticsRow">
            <div class="col col-50">
                <div class="item-divider"  style="text-align: center;">
                    <span class="title">Galaxia en guerra</span>
                </div>
                <ion-item>
                Analizadas {{ totalLists }} listas.
                <canvas id="factionPlot" class="chart chart-pie" chart-data="factionData"
                        chart-labels="factionLabels" chart-options="factionOptions" width="200" height="100" chart-colors="factionColors"></canvas>
                </ion-item>
            </div>
            <div class="col col-50">
                <div class="item-divider" style="text-align: center;">
                    <span class="title">Los 10 más buscados</span>
                </div>
                <ion-item>
                    Analizadas X naves.
                <canvas id="shipPlot" class="chart chart-horizontalBar" chart-data="shipData"
                        chart-labels="shipLabels" chart-options="shipOptions" width="200" height="100"></canvas>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
