<ion-view view-title="Inicio">
    <ion-content>
        <ion-item class="item-divider item-icon-right" style="text-align: center;">
            <span class="title">Ultimo torneo</span>
        </ion-item>
        <ion-item>
            {{ message }}
            <br>Last tournament resume maybe
        </ion-item>
        <div class="row responsive-md statisticsRow">
            <div class="col col-50" style="margin-bottom: 0px;">
                <div class="item-divider"  style="text-align: center;">
                    <span class="title">Galaxia en guerra</span>
                </div>
                <ion-item>
                    <canvas id="factionPlot" class="chart chart-pie" chart-data="factionData"
                        chart-labels="factionLabels" chart-options="factionOptions" height="100%" width="200%" chart-colors="factionColors"></canvas>
                    Analizadas {{ totalLists }} listas.
                </ion-item>
                <div class="item-divider" style="text-align: center;">
                    <span class="title">Las 10 naves más usadas</span>
                </div>
                <ion-item>
                    <canvas id="shipPlot" class="chart chart-horizontalBar" chart-data="shipData"
                            chart-labels="shipLabels" chart-options="shipOptions" height="100%" width="200%"></canvas>
                    Analizados {{ totalPilots }} pilotos.
                </ion-item>
            </div>
            <div class="col col-50" style="margin-bottom: 0px;">
                <div class="item-divider" style="text-align: center;">
                    <span class="title">Los 10 más buscados</span>
                </div>
                <ion-item>
                    <canvas id="shipPlot" class="chart chart-horizontalBar" chart-data="shipData"
                        chart-labels="shipLabels" chart-options="shipOptions" height="110%" width="100%"></canvas>
                    Analizados {{ totalPilots }} pilotos.
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
