<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">NUEVO PILOTO</h1>
    <button class="button button-icon button-clear ion-close-circled" ng-click="modalNewPilot.hide()"></button>
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Nombre:</span>
      <input type="text" ng-model="newPilot.name" placeholder="Darth Vader">
    </label>
    <label class="item item-input">
      <span class="input-label">Hab. Piloto:</span>
      <input type="number" min="0" ng-model="newPilot.pilotSkill">
    </label>
    <label class="item item-input">
      <span class="input-label">Puntos:</span>
      <input type="number" min="0" ng-model="newPilot.points">
    </label>
    <li class="item item-toggle">
      <span class="input-label"><i class="ion-ios-circle-filled" style="color: lightblue; text-transform: none"></i>&nbsp;Piloto único:</span>
      <label class="toggle toggle-balanced">
        <input type="checkbox" ng-model="newPilot.unique">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>
    <li class="item item-toggle">
      <span class="input-label"><i class="xwing-miniatures-font xwing-miniatures-font-elite" style="color: lightblue; text-transform: none; font-weight: normal"></i>&nbsp;Talento de élite:</span>
      <label class="toggle toggle-balanced">
        <input type="checkbox" ng-model="newPilot.elitePilot">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>
    <label class="item item-input">
      <textarea ng-model="newPilot.ability" placeholder="Habilidad/descripción" style="background-color: transparent; color: lightblue;"></textarea>
    </label>
    <button class="button button-full button-positive" ng-click="createPilot(newPilot)">AÑADIR PILOTO</button>
  </div>
  </ion-content>
</ion-modal-view>
