<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h3 class="title">Debe registrarse</h3>
    <button class="button button-icon button-clear ion-close-circled" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nombre" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Contraseña" ng-model="user.password">
      </label>
    </div>
    <button class="button button-full button-balanced" ng-click="login(user)">
      ENTRAR
    </button>
    <button class="button button-full button-calm" ui-sref="main.register">NUEVA CUENTA</button>
  </ion-content>
</ion-modal-view>
