<ion-view view-title="{{ navRoundTag }}">
    <ion-nav-title>
      <span ng-bind="navRoundTag"></span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon button-clear ion-more" ng-click="openPopover($event)"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
      <ion-list type="item-text-wrap" ng-show="navRound > tournament.rounds">
        <div class="card tournament-card" style="border-top: 0px !important;" ng-repeat="pairing in topPairingList | filter: { round: navRound }">
          <div class="item item-divider" style="border-top: 1px; border-style: solid;">
            Mesa {{ $index +1 }}
          </div>
          <div class="item item-icon-right" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px;" ng-show="!pairing.isBye" ng-click="pairingDetails(pairing)">
            <ion-item class="item-avatar item-avatar-left item-icon-right">
                <img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px">
                <i class="icon ion-trophy icon-accessory" ng-show="pairing.winner === pairing.player1"></i>
                <label class="item-input">
                  <span class="input-label col col-80" ng-bind="getInscriptionName(pairing.player1)"></span>
                  <span class="input-label col col-20" style="text-align: right;" ng-bind="pairing.p1Score"></span>
                </label>
            </ion-item>
            <ion-item class="item-avatar item-avatar-left item-icon-right">
                <img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px">
                <i class="icon ion-trophy icon-accessory" ng-show="pairing.winner === pairing.player2"></i>
                <label class="item-input">
                  <span class="input-label col col-80" ng-bind="getInscriptionName(pairing.player2)"></span>
                  <span class="input-label col col-20" style="text-align: right;" ng-bind="pairing.p2Score"></span>
                </label>
            </ion-item>
            <i  style="color: #3398d0;" class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </div>
      </ion-list>
      <ion-list type="item-text-wrap" ng-show="navRound <= tournament.rounds">
          <ion-item class="item item-icon-right" ng-click="pairingDetails(pairing)" ng-repeat="pairing in pairingList | filter:{ round: navRound } track by $index">
            <div class="row responsive-sm" ng-show="!pairing.isBye">
              <div class="col-20">
                Mesa {{ $index + 1}}
              </div>
              <div class="col">
                <span ng-bind="getInscriptionName(pairing.player1)"></span>
                <i class="ion-trophy icon-accessory" ng-show="pairing.winner === pairing.player1"></i>
                (<span ng-bind="pairing.p1Score"></span>)
              </div>
              <div class="col">
                <span ng-bind="getInscriptionName(pairing.player2)"></span>
                <i class="ion-trophy icon-accessory" ng-show="pairing.winner === pairing.player2"></i>
                (<span ng-bind="pairing.p2Score"></span>)
              </div>
            </div>
            <div class="row responsive-sm" ng-show="pairing.isBye">
              <span ng-bind="getInscriptionName(pairing.player1)"></span> <span>&nbsp;tiene un Bye</span>
            </div>
            <i style="color: #3398d0;" class="icon ion-chevron-right icon-accessory" ng-show="!pairing.isBye"></i>
          </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar button-full">
            <a class="button button-assertive" ng-click="previousNavRound()"  ng-show="navRound > 1">RONDA ANTERIOR</a>
            <a class="button button-balanced" ng-click="checkPairingsAndUpdateInscriptions()" ng-show="showFinishRound()">TERMINAR RONDA</a>
            <a class="button button-balanced" ng-click="nextNavRound()" ng-show="showNextRound()">SIGUIENTE RONDA</a>
        </div>
    </ion-footer-bar>
</ion-view>
