<ion-view view-title="TORNEO">
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon button-clear ion-more" style="color: #adf1fe;" ng-click="openPopover($event)"></button>
            <button class="button button-icon button-clear ion-person-add" ng-click="openModal()" ng-show="!currentUser || currentUser._id === tournament.organizer" ng-disabled="inscriptionList.length == tournament.maxPlayers"></button>
            <button class="button button-icon button-clear ion-person-add ng-cloak" ng-click="joinTournament()" ng-show="currentUser._id !== tournament.organizer"  ng-disabled="inscriptionList.length == tournament.maxPlayers">
            <button class="button button-icon button-clear ion-clipboard" ng-click="beginTestTournament()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-footer">
        <div class="list card tournament-card">
            <div class="item item-divider item-icon-right">
                <i class="icon ion-information-circled icon-accesory"></i>
                <span ng-bind="tournament.name"></span>
            </div>
            <div class="item item-avatar item-icon-right" ng-click="tournamentInfo()">
                <img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px">
                <div class="row responsive-sm">
                    <div class="col col-50">
                      <i class="ion-calendar"></i>
                      <span ng-bind="tournament.date | date: 'dd/MM/yyyy'"></span>
                    </div>
                    <div class="col col-50">
                      <i class="ion-clock"></i> 09:00
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                      <i class="ion-ios-people"></i>
                      <span ng-bind="tournament.maxPlayers"></span> plazas
                    </div>
                    <div class="col col-50">
                      <i class="ion-ios-stopwatch"></i>
                      <span ng-show="tournament.rounds"><span ng-bind="tournament.rounds"></span> Rondas</span>
                      <span ng-show="tournament.top && tournament.rounds">+</span>
                      <span ng-show="tournament.top">Top <span ng-bind="tournament.top"></span></span>
                    </div>
                </div>
                <div class="row responsive-sm">
                  <div class="col">
                    <i class="ion-ios-location"></i>
                    <span ng-bind="tournament.address"></span> (<span ng-bind="tournament.place"></span>)
                  </div>
                </div>
                <div class="row responsive-sm">
                  <div class="col">
                    Organiza:
                    <span ng-bind="tournament.organizername"></span>
                  </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </div>
        <div class="list card tournament-card">
            <div class="item item-divider item-icon-right">
                <i class="icon ion-person icon-accesory"></i>
                Ranking - <span ng-bind="inscriptionList.length"></span>/<span ng-bind="tournament.maxPlayers"></span> Jugadores
            </div>
            <ion-list show-delete="showDeleteInscriptions">
              <ion-item
                class="item-remove-animate item-avatar item-icon-right"
                type="item-text-wrap" ng-repeat="inscription in inscriptionList | orderBy: ['drop', 'bracketPosition', 'topPosition', 'swissPosition', '-victoryPoints', '-strengthOfSchedule'];" ng-click="viewInscription(inscription)">
                    <ion-delete-button class="ion-close-circled" ng-click="deleteInscription(inscription)"></ion-delete-button>
                    <img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px" href="#">
                    <h2 ng-bind="inscription.name"></h2>
                    <p ng-show="!inscription.drop">
                      PV: <span ng-bind="inscription.victoryPoints"></span>, SoS: <span ng-bind="inscription.strengthOfSchedule"></span>
                      <span ng-show="inscription.swissPosition">Swiss: <span ng-bind="inscription.swissPosition"></span></span>
                      <span ng-show="tournament.top && inscription.topPosition">Top: <span ng-bind="inscription.topPosition"></span></span>
                      <span class="badge badge-assertive" ng-show="inscription.firstRoundBye">Bye R1</span>
                    </p>
                    <p class="drop" ng-show="inscription.drop">Drop</p>
                    <i  style="color: #3398d0;" class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar style="padding: 0px">
        <div class="button-bar button-full">
          <a class="button button-balanced" ng-click="viewPairings()" ng-disabled="!inscriptionList.length">
            EMPAREJAMIENTOS
          </a>
          <!-- <a class="button button-balanced" ng-click="beginTournament()" ng-disabled="!inscriptionList.length" ng-show="!hasPairings">COMENZAR TORNEO</a>
          <a class="button button-balanced" ui-sref="main.tournamentPairings({ tournamentId: tournament._id, roundNumber: 1 })" ng-show="hasPairings">EMPAREJAMIENTOS</a> -->
        </div>
    </ion-footer-bar>
</ion-view>
