<ion-view view-title="Torneos">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-icon button-clear ion-plus-circled" ng-click="modal.show()"></button>
      <button class="button button-icon button-clear ion-clipboard" ng-click="createTestTournament()"></button>
    </div>
  </ion-nav-buttons>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Todos" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline">
      <ion-list style="margin-top: 40px;">
        <ion-item
          class="item-remove-animate item-avatar item-icon-right"
          type="item-text-wrap" ng-repeat="tournament in tournamentList" ng-click="viewTournament(tournament)">
          <img src="main/assets/images/yo@2x.png">
          <h2 ng-bind="tournament.name"></h2>
          <p>
            <span ng-bind="tournament.date | date: 'dd/MM/yyyy'"></span> en
            <span ng-bind="tournament.place"></span>
          </p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-tab>
    <ion-tab title="Tus Torneos" icon-on="ion-ios-world" icon-off="ion-ios-world-outline">
      <ion-list style="margin-top: 40px;">
        <ion-item
          class="item-remove-animate item-avatar item-icon-right"
          type="item-text-wrap" ng-repeat="tournament in myInscriptions" ng-click="viewTournament(tournament)">
          <img src="main/assets/images/yo@2x.png">
          <h2 ng-bind="tournament.name"></h2>
          <p>
            <span ng-bind="tournament.date | date: 'dd/MM/yyyy'"></span> en
            <span ng-bind="tournament.place"></span>
          </p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-tab>
    <ion-tab title="Tu Historial" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <ion-list style="margin-top: 40px;">
        <ion-item
          class="item-remove-animate item-avatar item-icon-right"
          type="item-text-wrap" ng-repeat="tournament in myHistory" ng-click="viewTournament(tournament)">
          <img src="main/assets/images/yo@2x.png">
          <h2 ng-bind="tournament.name"></h2>
          <p>
            <span ng-bind="tournament.date | date: 'dd/MM/yyyy'"></span> en
            <span ng-bind="tournament.place"></span>
          </p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-tab>
  </ion-tabs>
</ion-view>
