<ion-view view-title="Tournament Player Profile">
    <ion-content>
      <div class="card tournament-card">
        <div class="item item-avatar">
          <img ng-src="main/assets/images/yo@2x.png">
          <div class="row">
            <div class="col col-80">
              <h2>{{ inscription.name }}</h2>
              PV: <span ng-bind="inscription.victoryPoints"></span>
              SOS: <span ng-bind="inscription.strengthOfSchedule"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card tournament-card">
        <div class="item item-divider item-icon-right" ng-click="switchHide()">
          Lista
          <i class="icon ion-chevron-right icon-accessory" ng-show="hide"></i>
          <i class="icon ion-chevron-down icon-accessory" ng-show="!hide"></i>
        </div>
        <div class="item" style="padding: 0px;" ng-repeat="current in currentList track by $index" ng-show="!hide">
          <div class="card tournament-card" style="color: lightblue; padding: 0px;">
            <ion-item class="item-divider item-button-right">
              <span ng-bind="current.pilot.name"></span>
            </ion-item>
            <ion-item class="item-icon-left item-body shipProfile">
                <i class="icon xwing-miniatures-ship xwing-miniatures-ship-{{ current.ship.keyname }} avatar-{{ currentFaction.keyname }}"></i>
                <div class="col" style="text-align: center; margin-bottom: 0px;">
                  <div class="row">
                    <div class="col" style="text-align: center; margin-bottom: 0px;">
                      <span class="pilotskill" ng-bind="current.pilot.pilotSkill"></span>
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 0px;">
                      <span class="attack" ng-bind="current.ship.attack"></span>
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 0px;">
                      <span class="agility" ng-bind="current.ship.agility"></span>
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 0px;">
                      <span class="hull" ng-bind="current.ship.hull"></span>
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 0px;">
                      <span class="shield" ng-bind="current.ship.shield"></span>
                    </div>
                  </div>
                </div>
                <div class="col actionBar" style="text-align: center; font-size: 10px !important;">
                  <div class="row">
                    <div ng-show="current.ship.actionBar.focus" class="col">
                      <i class="xwing-miniatures-font xwing-miniatures-font-focus">
                      </i>
                    </div>
                    <div ng-show="current.ship.actionBar.barrelRoll" class="col">
                      <i class="xwing-miniatures-font xwing-miniatures-font-barrelroll">
                      </i>
                    </div>
                    <div ng-show="current.ship.actionBar.targetLock" class="col">
                      <i class="xwing-miniatures-font xwing-miniatures-font-targetlock">
                      </i>
                    </div>
                    <div ng-show="current.ship.actionBar.boost" class="col">
                      <i class="xwing-miniatures-font xwing-miniatures-font-boost">
                      </i>
                    </div>
                    <div ng-show="current.ship.actionBar.evade" class="col">
                      <i class="xwing-miniatures-font xwing-miniatures-font-evade">
                      </i>
                    </div>
                    <div ng-show="current.ship.actionBar.slam" class="col">
                      <i class="xwing-miniatures-font xwing-miniatures-font-slam">
                      </i>
                    </div>
                  </div>
                </div>
            </ion-item>
            <ion-list>
              <ion-item class="item-button-right" ng-repeat="upgrade in current.upgrades track by $index">
                <i class="xwing-miniatures-font xwing-miniatures-font-{{ upgrade.type }}"></i>
                <span ng-bind="upgrade.name"></span>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
      <div class="card tournament-card">
        <div class="item item-divider item-icon-right">
          <i class="icon ion-information-circled icon-accesory"></i>
          EMPAREJAMIENTOS
        </div>
        <div class="item" ng-repeat="pairing in pairingList">
          Ronda {{ pairing.round }}:
          <span ng-show="pairing.winner && pairing.winner === inscription._id">
            Victoria contra
          </span>
          <span ng-show="pairing.winner && pairing.winner !== inscription._id">
            Derrota contra
          </span>
          <span ng-bind="getInscriptionName(pairing.player1)" ng-show="pairing.player1 !== inscription._id"></span>
          <span ng-bind="getInscriptionName(pairing.player2)" ng-show="pairing.player2 !== inscription._id"></span>
        </div>
      </div>
    </ion-content>
</ion-view>
