<ion-view>
  <ion-nav-title>
    {{ ship.name }}
  </ion-nav-title>
  <ion-nav-buttons side="right">
      <div class="buttons">
          <button class="button button-icon button-clear ion-compose" ng-click="openModal()"></button>
      </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card tournament-card">
      <div class="item item-icon-left item-text-wrap" style="color: lightblue;">
        <div class="row responsive-sm">
          <div class="col col-80">
            <i class="icon icon-accesory xwing-miniatures-ship xwing-miniatures-ship-{{ (ship.xws).replace('fore', '') }}
                            avatar-{{ (ship.faction[0]).replace('Galactic ', '').replace('-', '') | lowercase }}" style="font-size: 4em"></i>
            <div class="row responsive-sm">
              <div class="col title">
                <i class="ion-ios-circle-filled" ng-show="currentPilot.unique"></i>
                <h2 class="title" style="display: inline-block;" ng-bind="currentPilot.name"></h2>
              </div>
            </div>
            <div class="row responsive-sm">
              <div class="col">
                Pilot skill: <span ng-bind="currentPilot.skill"></span>
              </div>
              <div class="col">
                Points: <span ng-bind="currentPilot.points"></span>
              </div>
            </div>
            <div class="row responsive-sm">
              <div class="col">
                <span  ng-repeat="slot in currentPilot.slots track by $index">
                    <i class="xwing-miniatures-font xwing-miniatures-font-{{ slot.replace(' ', '') | lowercase }}"></i>
                </span>
              </div>
            </div>
            <div class="row responsive-sm">
              <div class="col">
                <span ng-bind="currentPilot.text"></span>
              </div>
            </div>
          </div>
          <div class="col col-20">
            <img ng-src="../bower_components/xwing-data/images/{{ currentPilot.image }}" style="width: 200px; right: 0px;">
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
