<ion-view view-title="Hangar">
    <!--<ion-nav-buttons side="right">-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon button-clear ion-plus-circled" ng-click="modal.show()"></button>-->
        <!--</div>-->
    <!--</ion-nav-buttons>-->
    <ion-header-bar class="bar bar-subheader item-divider item-icon-right">
        <i class="icon icon-accessory ion-information-circled"></i>
        Mostrando&nbsp;<span ng-bind="shipListLength"></span>&nbsp;naves y&nbsp;<span ng-bind="pilotListLength"></span>&nbsp;pilotos.
    </ion-header-bar>
    <ion-content>
          <!--<ion-item>-->
              <!--<button ng-click="exportShips()">Export ships to mongodb</button>-->
              <!--<button ng-click="exportPilots()">Export pilots to mongodb</button>-->
          <!--</ion-item>-->
        <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-repeat="ship in currentShipList | orderBy: ['name'] | filter: showShip"
                  ng-click="viewShip(ship)">
          <div class="row responsive-sm">
              <i class="icon icon-accesory xwing-miniatures-ship xwing-miniatures-ship-{{ (ship.xws).replace('fore', '') }}
                        avatar-{{ (ship.faction[0]).replace('Galactic ', '').replace('-', '') | lowercase }}" style="font-size: 4em"></i>
              <div class="col">
                <h2 ng-bind="ship.name" class="title"></h2>
              </div>
              <div class="col" style="text-align: right; font-size: 1em !important;">
                <div class="row">
                  <div class="col">
                    <span class="pilots" ng-bind="ship.nPilots"></span>
                    <i class="ion-person-stalker" style="font-size: 1.5em;"></i>
                  </div>
                  <div class="col">
                    <span class="attack" ng-bind="ship.attack"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-attack"></i>
                  </div>
                  <div class="col">
                    <span class="agility" ng-bind="ship.agility"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-agility"></i>
                  </div>
                  <div class="col">
                    <span class="hull" ng-bind="ship.hull"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-hull"></i>
                  </div>
                  <div class="col">
                    <span class="shield" ng-bind="ship.shields"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-shield"></i>
                  </div>
                </div>
              </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </ion-item>
        <ion-infinite-scroll on-infinite="loadMore(start)" immediate-check="false" ng-if="currentShipList.length > 0 && start < shipList.length" class="text-lightblue">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar style="padding: 0px">
      <div class="button-bar">
        <a ng-repeat="faction in factionList" class="button icon {{ faction.replace('Galactic ', '').replace('-', '') | lowercase }}"
           ng-click="select(faction)">
          <i class="xwing-miniatures-font xwing-miniatures-font-{{ faction.replace('Galactic ', '').replace('-', '') | lowercase }}"></i>
          <span ng-bind="faction"></span>
        </a>
      </div>
    </ion-footer-bar>
</ion-view>
