<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">EDITAR NAVE</h1>
    <button class="button button-icon button-clear ion-close-circled" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Nombre:</span>
      <input type="text" ng-model="editShip.name" placeholder="Caza TIE">
    </label>
    <label class="item item-input animate-hide">
     <span class="input-label">Clave:</span>
     <input type="text" ng-model="editShip.keyname" placeholder="tiefighter">
    </label>
    <label class="item item-input">
      <span class="input-label">Facción:</span>
      <input type="text" ng-model="editShip.faction" placeholder="TODO">
    </label>
    <label class="item item-input">
      <span class="input-label">Ataque:</span>
      <input type="number" min="0" ng-model="editShip.attack">
    </label>
    <label class="item item-input">
      <span class="input-label">Agilidad:</span>
      <input type="number" min="0" ng-model="editShip.agility">
    </label>
    <label class="item item-input">
      <span class="input-label">Casco:</span>
      <input type="number" ng-model="editShip.hull" min="1">
    </label>
    <label class="item item-input animate-hide">
     <span class="input-label">Escudos:</span>
     <input type="number" ng-model="editShip.shield" min="0">
    </label>
    <div class="item">
      <span class="input-label">Acciones:</span>
      <li class="item item-toggle item-icon-left">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-focus" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;Concentración:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.focus">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-icon-left">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-evade" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;Esquiva:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.evade">
          <div class="track">
            <div class="handle"></div>
          </div>
       </label>
      </li>
      <li class="item item-toggle item-icon-left">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-barrelroll" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;Tonel:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.barrelRoll">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-icon-left">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-cloak" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;Camuflaje:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.cloak">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-icon-left">
        <i class="icon icon xwing-miniatures-font xwing-miniatures-font-boost" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;Impulso:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.boost">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-icon-left">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-slam" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;SLAM:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.slam">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-icon-left">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-targetlock" style="color: lightblue; text-transform: none"></i>
        <span class="input-label">&nbsp;Blanco Fijado:</span>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="editShip.actionBar.targetLock">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </div>
    <div class="item">
      <span class="input-label">Mejoras:</span>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-astromech" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Astromecánico:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.astromech">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-bomb" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Bombas:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.bomb">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-cannon" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Ca&ntilde;ones:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.cannon">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-crew" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Tripulación:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.crew">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-illicit" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Ilícita:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.illicit">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-missile" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Misiles:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.missile">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-modification" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Modificación:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.modification">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-salvagedastromech" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Astr. Rescatado:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.salvagedAstromech">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-system" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Sistemas:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.system">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-tech" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Tecnología:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.tech">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-title" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Título:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.title">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-torpedo" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Torpedos:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.torpedo">
        </div>
      </li>
      <li class="item item-icon-left" style="padding-top: 0px !important; padding-bottom: 0px;">
        <i class="icon xwing-miniatures-font xwing-miniatures-font-turret" style="color: lightblue;"></i>
        <div class="item-input" style="padding-left: 0px !important;">
          <span class="input-label">&nbsp;Torretas:</span>
          <input type="number" min="0" ng-model="editShip.upgradeSlots.turret">
        </div>
      </li>
    </div>
    <button class="button button-full button-balanced" ng-click="updateShip(editShip)">ACTUALIZAR NAVE</button>
  </div>
  </ion-content>
</ion-modal-view>
