<ion-view view-title="Pairings Details">
    <ion-content>
        <div class="card tournament-card">
          <div class="item item-avatar">
            <img ng-src="main/assets/images/yo@2x.png">
            <div class="row">
              <div class="col col-80">
                <h2>{{ getInscriptionName(currentPairing.player1) }}</h2>
                <p>
                  <i class="icon icon-accesory xwing-miniatures-font xwing-miniatures-font-empire"></i>
                  <i class="icon icon-accesory xwing-miniatures-ship xwing-miniatures-ship-tieinterceptor"></i>
                </p>
              </div>
              <input class="col col-20 numberRight" type="number" min=0 max=100 required ng-model="currentPairing.p1Score">
            </div>
          </div>
          <div class="button-bar button-full">
            <a class="button button-small button-assertive" ng-click="showList1 = !showList1" ng-show="showList1">Ocultar Lista</a>
          </div>
          <div class="item item-body" ng-show="showList1">
            <p>
              Nave 1: [nombre_nave][[icono_mejora][nombre_mejora]] Lista en Inscripcion
            </p>
            <p>
              Nave 1: [nombre_nave][[icono_mejora][nombre_mejora]] Lista en Inscripcion
            </p>
            <p>
              Nave 1: [nombre_nave][[icono_mejora][nombre_mejora]] Lista en Inscripcion
            </p>
          </div>
          <div class="button-bar button-full">
            <a class="button button-small button-balanced" ng-click="showList1 = !showList1" ng-show="!showList1">Mostrar Lista</a>
          </div>
        </div>
        <div class="card tournament-card">
          <div class="item item-avatar">
            <img ng-src="main/assets/images/yo@2x.png">
            <div class="row">
              <div class="col col-80">
                <h2>{{ getInscriptionName(currentPairing.player2) }}</h2>
                <p>
                  <i class="icon icon-accesory xwing-miniatures-font xwing-miniatures-font-empire"></i>
                  <i class="icon icon-accesory xwing-miniatures-ship xwing-miniatures-ship-tieinterceptor"></i>
                </p>
              </div>
              <input class="col col-20 numberRight" type="number" min=0 max=100 required ng-model="currentPairing.p2Score">
            </div>
          </div>
          <div class="button-bar button-full">
            <a class="button button-small button-assertive" ng-click="showList2 = !showList2" ng-show="showList2">Ocultar Lista</a>
          </div>
          <div class="item item-body" ng-show="showList2">
            <p>
              Nave 1: [nombre_nave][[icono_mejora][nombre_mejora]] Lista en Inscripcion
            </p>
            <p>
              Nave 1: [nombre_nave][[icono_mejora][nombre_mejora]] Lista en Inscripcion
            </p>
            <p>
              Nave 1: [nombre_nave][[icono_mejora][nombre_mejora]] Lista en Inscripcion
            </p>
          </div>
          <div class="button-bar button-full">
            <a class="button button-small button-balanced" ng-click="showList2 = !showList2" ng-show="!showList2">Mostrar Lista</a>
          </div>
        </div>
    </ion-content>
    <ion-footer-bar style="padding: 0px">
        <div class="button-bar button-full">
          <a class="button button-balanced" ng-click="updatePairing(currentPairing)">GUARDAR RESULTADO</a>
        </div>
    </ion-footer-bar>
</ion-view>
