<ion-popover-view class="fit">
    <ion-content>
      <ion-list>
        <ion-item ng-click="joinTournament()" class="item item-icon-left">
          <i class="icon ion-person-add"></i>Añadir al organizador</ion-item>
        <ion-item ng-disabled="!inscriptionList.length" class="item item-icon-left" ng-click="showDeleteButtons()">
            <i class="icon ion-close-circled"></i>
            <span ng-show="!pairingList.length">Eliminar Jugadores</span>
            <span ng-show="pairingList.length">Dropear Jugadores</span>
        </ion-item>
        <ion-item ng-click="showConfirmDeleteTournament()" class="item item-icon-left">
            <i class="icon ion-close-circled"></i>
            Eliminar Torneo
        </ion-item>
      </ion-list>
    </ion-content>
</ion-popover-view>
