<ion-view view-title="INFORMACIÓN">
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon button-clear ion-compose" ng-click="openModalEditTournament()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card tournament-card">
          <div class="item item-divider item-icon-right">
            <i class="icon ion-information-circled icon-accesory"></i>
            <span ng-bind="tournament.name"></span>
          </div>
            <ion-item class="item-avatar">
                <img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px">
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <i class="ion-calendar"></i>
                        <span ng-bind="tournament.startDate | date: 'dd/MM/yyyy'"></span>
                        <span ng-show="tournament.endDate">- <span ng-bind="tournament.endDate | date: 'dd/MM/yyyy'"></span></span>
                    </div>
                    <div class="col col-50">
                        <i class="ion-clock"></i> 09:00
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <i class="ion-ios-people"></i>
                        <span ng-bind="tournament.maxPlayers"></span> plazas
                    </div>
                    <div class="col col-50">
                        <i class="ion-ios-stopwatch"></i>
                        <span ng-show="tournament.rounds"><span ng-bind="tournament.rounds"></span> Rondas</span>
                        <span ng-show="tournament.top && tournament.rounds">+</span>
                        <span ng-show="tournament.top">Top <span ng-bind="tournament.top"></span></span>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col">
                        <i class="ion-ios-location"></i>
                        <span ng-bind="tournament.city"></span> - <span ng-bind="tournament.address"></span>
                    </div>
                </div>
                <div class="row responsive-sm">
                    <div class="col">
                        Organiza:
                        <span ng-bind="tournament.organizername"></span>
                    </div>
                    <div class="col" ng-show="!tournament.finished">
                        <button class="button button-balanced" ng-show="!showInscriptionButton()" ng-click="joinTournament()" ng-disabled="inscriptionList.length >= tournament.maxPlayers">Inscribirme a este evento</button>
                        <button class="button button-assertive" ng-show="showInscriptionButton()" ng-click="deleteInscription(myCurrentInscription)">Cancelar inscripción</button>
                    </div>
                </div>
                <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
            </ion-item>
          <div class="item item-body">
            <!-- <img class="full-image" src="delorean.jpg"> -->
            <p>
              <span ng-bind="tournament.description"></span>
            </p>
          </div>
        </div>
    </ion>
</ion-view>
