<ion-view view-title="Nueva Lista - {{ currentPoints }}/100">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-icon button-clear ion-forward" ng-click="openModalTournament()"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" style="padding: 0px; margin: 0px;">
      <ion-list class="col col-70 nopadding" ng-show="showShips">
        <ion-item class="nopadding" ng-repeat="ship in shipList | filter: showShip">
          <ion-item class="item-divider" ng-click="selectShip(ship)">
            <i class="xwing-miniatures-ship xwing-miniatures-ship-{{ (ship.xws).replace('fore', '') }}
            {{ selectedFaction.replace(' ', '').replace(' ', '') | lowercase }}"></i>&nbsp;
            <span class="title" ng-bind="ship.name"></span>
          </ion-item>
          <ion-list ng-show="selectedShip === ship.name">
            <ion-item ng-repeat="pilot in pilotList | filter: showPilot | filter: { ship: ship.name }" class="item item-icon-right" type="item-text-wrap" ng-click="addToList(pilot)">
              <span ng-bind="pilot.skill"></span>&nbsp;
              <i class="ion-ios-circle-filled" ng-show="pilot.unique">&nbsp;</i>
              <span ng-bind="pilot.name"></span>&nbsp;
              <span class="icon smallfont" ng-bind="pilot.points"></span>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
      <ion-list class="col">
        <ion-item class="card tournament-card item item-remove-animate" style="color: lightblue; padding: 0px;" ng-repeat="current in currentList track by $index">
          <ion-item class="item-divider item-button-right item-icon-left" ng-click="toggle($index)">
            <i class="icon icon-accesory xwing-miniatures-ship xwing-miniatures-ship-{{ (current.ship.xws).replace('fore', '') | lowercase }}
                        {{ selectedFaction.replace(' ', '').replace(' ', '') | lowercase }}" style="font-size: 3em"></i>
              <i class="ion-ios-circle-filled" ng-show="current.pilot.unique">&nbsp;</i>
              <span ng-bind="current.pilot.name"></span>
            (<span ng-bind="current.pilot.points"></span>)
            <div class="buttons" style="margin-top: -5px;">
              <button class="button button-energized button-outline ion-ios-copy-outline" ng-click="duplicate($index); $event.stopPropagation()"></button>
              <button class="button button-assertive button-outline ion-ios-close-outline" ng-click="dropFromList($index); $event.stopPropagation()"></button>
            </div>
          </ion-item>
          <ion-item class="item-body" ng-show="visible($index)">
            <div class="row responsive-sm">
              <div class="col" style="text-align: center;">
                <div class="row">
                  <div class="col">
                    PS:
                    <span class="skill" ng-bind="current.pilot.skill"></span>
                  </div>
                  <div class="col">
                    <span class="attack" ng-bind="current.ship.attack"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-attack"></i>
                  </div>
                  <div class="col">
                    <span class="agility" ng-bind="current.ship.agility"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-agility"></i>
                  </div>
                  <div class="col">
                    <span class="hull" ng-bind="current.ship.hull"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-hull"></i>
                  </div>
                  <div class="col">
                    <span class="shield" ng-bind="current.ship.shields"></span>
                    <i class="xwing-miniatures-font xwing-miniatures-font-shield"></i>
                  </div>
                </div>
              </div>
              <div class="col actions" style="text-align: center;">
                <div class="row">
                  <div ng-repeat="action in current.ship.actions" class="col">
                    <i class="xwing-miniatures-font xwing-miniatures-font-{{ action.replace(' ', '') | lowercase }}">
                    </i>
                  </div>
                </div>
              </div>
            </div>
          </ion-item>
          <ion-list ng-show="visible($index)">
            <ion-item class="item-button-right" ng-click="showSelectUpgrade(current, $index, upgrade)"  ng-repeat="upgrade in current.upgrades track by $index">
              <i class="xwing-miniatures-font xwing-miniatures-font-{{ upgrade.type.replace(' ', '') | lowercase }}"></i>
                <i class="ion-ios-circle-filled" ng-show="upgrade.selected.unique">&nbsp;</i>
                <span ng-bind="upgrade.selected.name"></span>
              <span ng-show="upgrade.selected.points">(<span ng-bind="upgrade.selected.points"></span>)</span>
              <button class="button button-assertive button-outline ion-ios-close-outline" ng-click="dropUpgrade(current, $index); $event.stopPropagation()" style="z-index: 999 !important;"></button>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar style="padding: 0px">
    <div class="button-bar" ng-show="selectedFaction">
      <a class="button button-small button-energized icon col-10" ng-click="select()">
        <i class="icon ion-chevron-left"></i>
      </a>
      <a class="button button-small button-stable icon" ng-click="select(selectedFaction)">
        <i class="icon ion-eye"></i>
      </a>
    </div>
    <div class="button-bar" ng-show="!selectedFaction">
      <a ng-repeat="faction in factionList" class="button button-small icon {{ faction.replace('Galactic ', '').replace('-', '') | lowercase }}"
         ng-click="select(faction)">
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ faction.replace('Galactic ', '').replace('-', '') | lowercase }}"></i>
        <span ng-bind="faction"></span>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
