<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">SELECCIONE MEJORA</h1>
    <button class="button button-icon button-clear ion-close-circled" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="upgrade in upgradeList" ng-click="selectUpgrade(upgrade)" ng-show="availableUpgrade(upgrade)">
        <i class="icon icon-accesory xwing-miniatures-font xwing-miniatures-font-{{ (upgrade.slot).replace(' ', '') | lowercase }}"></i>
        <i class="xwing-miniatures-font xwing-miniatures-font-unique" ng-show="upgrade.unique">&nbsp;</i>
        <span ng-bind="upgrade.name"></span>&nbsp;
        (<span ng-bind="upgrade.points"></span>)
        <span ng-show="upgrade.faction"><i class="xwing-miniatures-font xwing-miniatures-font-{{ (upgrade.faction).replace('Galactic ', '') | lowercase }}"></i></span>
        <br>
        <span ng-show="upgrade.limited">Limitado</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
