<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h3 class="title">Usar la lista en...</h3>
    <button class="button button-icon button-clear ion-close-circled" ng-click="closeModalTournament()"></button>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader item-divider">
        <span ng-show="tournamentList.length">
            Mostrando {{ tournamentList.length }} de {{ nTournaments }} torneos.
            <span ng-show="start < nTournaments">Haz scroll hacia abajo para cargar más.</span>
        </span>
    <span ng-show="!tournamentList.length" ng-bind="topMessage"></span>
  </ion-header-bar>
  <ion-content>
    <ion-item
            class="item-remove-animate item-avatar item-icon-right has-badge"
            type="item-text-wrap" collection-repeat="tournament in tournamentList" item-height="70px" item-width="100%" ng-click="useListIn(tournament._id)">
      <img src="main/assets/images/yo@2x.png">
      <h2 ng-bind="tournament.name"></h2>
      <p>
        <span ng-bind="tournament.startDate | date: 'dd/MM/yyyy'"></span>
        <span ng-show="tournament.city">en <span ng-bind="tournament.city"></span></span>
        <span class="badge badge-assertive" ng-bind="tournament.tier"></span>
      </p>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-infinite-scroll on-infinite="loadMore(start)" immediate-check="false" ng-if="tournamentList.length > 0 && tournamentList.length < nTournaments" class="text-lightblue">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="bar bar-footer" align-title="left">
    <div class="button-bar">
        <button class="button button-small icon button-{{ allBtnClass }}" ng-click="viewAll()"><i class="icon ion-ios-filing"></i>Todos</button>
        <button class="button button-small icon button-{{ myInscriptionsBtnClass }}" ng-click="" disabled><i class="icon ion-ios-calendar"></i>Terminados</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
