<ion-view>
    <ion-nav-title>
        ARSENAL
    </ion-nav-title>
  <ion-nav-buttons side="right">
      <div class="buttons">
          <!--<button class="button button-icon button-clear ion-plus-circled" ng-click="modal.show()"></button>-->
          <button class="button" ng-click="modal.show()">Filtros</button>
      </div>
  </ion-nav-buttons>
    <ion-nav-header class="bar bar-subheader item-divider item-icon-right">
        Mostrando&nbsp;<span ng-bind="upgradeListLength"></span>&nbsp;mejoras&nbsp;
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ filterType.replace(' ', '') }} upgrade"></i>
        <i class="xwing-miniatures-font xwing-miniatures-font-{{ filterFaction }} {{ filterFaction }}"></i>
        <i class="icon icon-accessory ion-information-circled"></i>
    </ion-nav-header>
  <ion-content class="has-subheader">
    <!--<ion-list>-->
      <ion-item class="item-icon-left item-icon-right item-text-wrap" ng-repeat="upgrade in currentUpgradeList"
                ng-click="showUpgrade($index)">
        <div class="row">
          <i class="icon icon-accesory xwing-miniatures-font xwing-miniatures-font-{{ (upgrade.slot).replace(' ', '') | lowercase }}"></i>
          <i class="xwing-miniatures-font xwing-miniatures-font-unique" ng-show="upgrade.unique">&nbsp;</i>
          <h3 ng-bind="upgrade.name"></h3>&nbsp;(<span ng-bind="upgrade.points"></span>)
          <span ng-if="upgrade.faction">&nbsp;
              <i class="xwing-miniatures-font xwing-miniatures-font-{{ (upgrade.faction).replace('Galactic ', '') | lowercase }}"></i>
          </span>
          <span ng-if="upgrade.limited">&nbsp;Limitado</span>
          <i class="icon ion-chevron-down icon-accessory" ng-if="!showUpgrades[$index]"></i>
          <i class="icon ion-chevron-up icon-accessory" ng-if="showUpgrades[$index]"></i>
        </div>
        <div class="row"  ng-show="showUpgrades[$index]">
          <div class="row responsive-sm">
            <div class="col col-80">
              <span ng-show="upgrade.limited">Limited.<br><br></span>
              <span ng-show="upgrade.faction"><i class="xwing-miniatures-font xwing-miniatures-font-{{ (upgrade.faction).replace('Galactic ', '') | lowercase }}"></i> only.<br><br></span>
              <span ng-show="upgrade.ship"><span ng-repeat="ship in upgrade.ship">{{ ship }}</span> only.<br><br></span>
              <i class="icon icon-accesory xwing-miniatures-font xwing-miniatures-font-{{ upgrade.slot | lowercase }}"> </i> <span ng-bind="upgrade.slot"></span><br><br>
              <span ng-bind-html="upgrade.text"></span>
            </div>
            <div class="col col-20">
              <img ng-src="../bower_components/xwing-data/images/{{ upgrade.image }}" style="width: 200px; right: 0px;">
            </div>
          </div>
        </div>
      </ion-item>
      <ion-infinite-scroll on-infinite="loadMore(start)" immediate-check="false" ng-if="currentUpgradeList.length > 0 && start < upgradeList.length" class="text-lightblue">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
        <!--<button class="button button-energized button-full" ng-click="showMore(10)" ng-show="display <= currentUpgradeList.length">Show more</button>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
